@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hospital</h1>
    <p class="lead">Creators: Group 228, Litvinyuk Denis, Hozin Nazar, Chorniy Denis</p>
</div>

<div class="row">
    <h1>
        <h3>Складається з підсистем:</h3> <br>1) підсистема додавання/
        редагування лікарів та пацієнтів,<br> 2) підсистема виводу (з
        сортуванням та фільтрами, пошуком),
        <br>3) 3) підсистема запису на прийом до лікаря.<br><h3> Ролі користувачів:</h3><br> адміністратор,<br>
        менеджер,<br>зареєстррований, <br>незареєстррований.<br>Менеджер
        може змінювати інформацію про лікарів та пацієнтів.<br> Зареєстрований користувач – записуватися на прийом.
        <br>Незареєстрований – тільки переглядати загальну інформацію про лікарню та послуги.
    </h1>

</div>