@{
    ViewBag.Title = "Hospital USER = REGISTERED";
}

<div class="row">
    <form action="" method="post">
        <div class="row">
            <input type="text" placeholder="Appointment to doctor" class="center-block input-lg" name="name" />
        </div>

        <div class="row">
            <input type="submit" class="center-block btn" value="Appointment" />
        </div>

        
    </form>

 <p class="lead">@Html.Raw(@ViewBag.Message) </p> 
</div>